<section class="packagesProductDetail">
    <label for="*" class="control"><</label>
    <article class="product p1">
        <img class="picturePackage" src="img/paquete.png" alt="paquete">
        <p>PAQUETE 1</p>
    </article>
    <article class="product p2">
        <img class="picturePackage" src="img/paquete.png" alt="paquete">
        <p>PAQUETE 2</p>
    </article>
    <article class="product p3">
        <img class="picturePackage" src="img/paquete.png" alt="paquete">
        <p>PAQUETE 3</p>
    </article>
    <article class="product p4">
        <img class="picturePackage" src="img/paquete.png" alt="paquete">
        <p>PAQUETE 4</p>
    </article>
    <label for="*" class="control">></label>
</section>