<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">

    <title>2BX - Carro de Compras</title>
</head>
<body> 
    <%- include("../partialsGeneral/header")  %> 
<main>

<section>
        <div class="cart1">
            <h1 class="bot1 animated infinite zoomIn">Carro de Compras</h1>
            <p></p>
            <p></p>
            <h2 class="bot2">Precio</h2>
            <h2 class="bot2">Cantidad</h2>
            <h2 class="bot2">Subtotal</h2>
            <h2 class="bot2">Seleccionar</h2>
        </div>
    </section>
<section>
        <div class="cart2">
        <article class="cards">
            <h3 class="animated infinite flash">Wild KAITSURF</h3>
            <img class="foto" src="/img/paquete1.jpg"  alt="Kaitsurf">
            <h3>$ 10000</h3>
            <input class="si" type="number" value="numero">  
            <h3>$</h3>
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" class="si" value="Sí">
            </form>
        </article>
        </div>
        <div class="cart2">
        <article class="cards">
            <h3 class="animated infinite flash">Power RAFTING</h3>
            <img class="foto" src="/img/paquete2.jpg" alt="Rafting">
            <h3>$ 20000</h3>
            <input class="si" type="number" value="numero">    
            <h3>$</h3>
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" class="si" value="Sí">
            </form>
        </article>
        </div>
        <div class="cart2">
        <article class="cards">
            <h3 class="animated infinite flash">SURF Adrenalin</h3>
            <img class="foto" src="/img/paquete3.jpg"  alt="Surf">
            <h3>$ 30000</h3>
            <input class="si" type="number" value="numero">     
            <h3>$</h3>
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" class="si" value="Sí">
            </form>
        </article>
        </div>
</section>
<section>
        <div class="cart3">
            <h1>TOTAL:</h1>
            <a href="/packages" type="button" class="com animated infinite pulse">Seguir comprando</a>
            <a type="button" class="com animated infinite pulse">Comprar</a>
        </div>
    </section>
</main>

<%- include("../partialsGeneral/footer") %> 

</body>
</html>