<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <script src="https://kit.fontawesome.com/a00647b9df.js" crossorigin="anonymous"></script>

    <title>2BX</title>
</head>
<body>
    <header class="upperBar">
        <img class="logo" src="/img/Logo1FondoNegro.jpg" alt="logo">
        <p class="loginButton">LOGIN</p>
    </header>
    <nav class="bottomBar">
        <ul class="navBar">
            <li>Paquetes</li>
            <li>About Us</li>
            <li></li>
            <li>Registro</li>
            <li>Carrito</li>
        </ul>
        <div class="burgerMenu"><i class="fa-solid fa-square-minus"></i></div>
    </nav>
    <main>
        <div class="slide">
            <div class="slideContent">
                <input type="radio" class="slideShow" id="slide1" name="slide" checked="checked">
                <div class="slideItem">
                    <img src="img/skydive_1280.jpg" alt="skydive">
                </div>
                <input type="radio" class="slideShow" id="slide2" name="slide">
                <div class="slideItem">
                    <img src="img/parapente_1280.jpg" alt="paragliding">
                </div>
                <input type="radio" class="slideShow" id="slide3" name="slide">
                <div class="slideItem">
                    <img src="img/kaitsurf_1280.jpg" alt="kaitsurf">
                </div>
                <input type="radio" class="slideShow" id="slide4" name="slide">
                <div class="slideItem">
                    <img src="img/rock-climbing_1280.jpg" alt="climbing">
                </div>
                <input type="radio" class="slideShow" id="slide5" name="slide">
                <div class="slideItem">
                    <img src="img/rafting_1280.jpg" alt="rafting">
                </div>
                <label for="slide5" class="slideControl prev control1"><</label>
                <label for="slide2" class="slideControl next control1">></label>
                <label for="slide1" class="slideControl prev control2"><</label>
                <label for="slide3" class="slideControl next control2">></label>
                <label for="slide2" class="slideControl prev control3"><</label>
                <label for="slide4" class="slideControl next control3">></label>
                <label for="slide3" class="slideControl prev control4"><</label>
                <label for="slide5" class="slideControl next control4">></label>
                <label for="slide4" class="slideControl prev control5"><</label>
                <label for="slide1" class="slideControl next control5">></label>
                <ol class="slideIndicator">
                    <li>
                        <label for="slide1" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide2" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide3" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide4" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide5" class="slideCircle">•</label>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container2">
        <section class="packages">
            <article class="product"></article>
            <article class="product"></article>
            <article class="product"></article>
            <article class="product"></article>
        </section>
        <section class="clientMessages"></section>
        </div>
    </main>
    
</body>
</html>