<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <script src="https://kit.fontawesome.com/a00647b9df.js" crossorigin="anonymous"></script>

    <title>2BX</title>
</head>
<body>
    <header class="upperBar">
        <img class="logo" src="/img/Logo1FondoNegro.jpg" alt="logo">
        <p class="loginButton">LOGIN</p>
    </header>
    <nav class="bottomBar">
        <ul class="navBar">
            <li>Paquetes</li>
            <li>About Us</li>
            <li></li>
            <li>Registro</li>
            <li>Carrito</li>
        </ul>
        <div class="burgerMenu"><i class="fa-regular fa-square-minus"></i></div>
    </nav>
    <main>
        <picture></picture>
        <section class="packages">
            <article class="product"></article>
            <article class="product"></article>
            <article class="product"></article>
            <article class="product"></article>
        </section>
        <section class="clientMessages"></section>
    </main>
    
</body>
</html>