<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesnotFound.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error 404</title>
</head>
<body>
    <h2>NOT FOUND</h2>
    <div class="fullscreen-container">
        <video loop muted autoplay poster="dist/img/office.jpg" class="fullscreen-video">
            <source src="/video/notFoundVideo.mp4" type="video/mp4">
        </video>
    </div>
    <P>La página que estás buscando no fue encontrada o no existe! Por favor revisa la dirección ingresada en tu navegador.</P>
    <br>
    <a href="/"><button type="submit">Volver a 2BX</button></a>
</body>
</html>