<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Paquetes</title>
</head>

<main>
    <section class="productDetail">
        <div class="productDetailImage">
            <img src="" alt="">
        </div>
        <article class="productDetailText">
            <h2>Detalle general del Paquete</h2>
            <p>texto de detalle</p>
            <button class="buyButton">Boton compra</button>

        </article>
    </section>

    <section class="productDescription">
        <article class="description">
            <h2>Descripción del paquete</h2>
            <p>Texto de description</p>
        </article>
    </section>

    <section class="carrousel">
        <div class="carrouselImageContainer">
            <img src="https://lp-cms-production.imgix.net/features/2013/06/GettyRF_83654057-0d23ef9081fb.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850" alt="Imagen Random">
        </div>
    </section>    
</main>

<footer>
    <section class="info"></section>
    <address class="contact"></address>
    <section class="consultarEsto"></section>
</footer>

</html>