<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <title>Carro de Compras</title>
</head>
<body>
    <div>
        <article class="card">
            <h2>Carro de Compras</h2>
            <p></p>
            <p>Precio</p>
            <p>Cantidad</p>
            <p>Subtotal</p>
            <p>Seleccionar</p>
        </article>
        <article class="card">
            <img class="paquete" src="" alt="">
            <p>$</p>
            <input type="button" name="" value="1">
            <input type="button" name="" value="2">
            <input type="button" name="" value="3">   
            <p>$</p>
            // HACER CALCULO ARITMETICO
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" name="seleccionar" value="Sí">
            </form>
        </article>
        <article class="card">
            <img class="paquete" src="" alt="">
            <p>$</p>
            <input type="button" name="" value="1">
            <input type="button" name="" value="2">
            <input type="button" name="" value="3">   
            <p>$</p>
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" name="seleccionar" value="Sí">
            </form>
        </article>
        <article class="card">
            <img class="paquete" src="" alt="">
            <p>$</p>
            <input type="button" name="" value="1">
            <input type="button" name="" value="2">
            <input type="button" name="" value="3">   
            <p>$</p>
            <form action="seleccionar.html" method="POST">
                <label text="Seleccionar"></label>
                <input type="button" name="seleccionar" value="Sí">
            </form>
        </article>
        <div class="card">
            <h3>TOTAL:</h3>
            // HACER CALCULO ARITMETICO
            <input type="" value="Seguir comprando">
            <input type="" value="Comprar">
        </div>
    </div>  
</body>
</html>