<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesProductDetail.css">
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <script src="https://kit.fontawesome.com/82173492bf.js" crossorigin="anonymous"></script>
    <title>Detalle de Paquetes</title>
</head>

<body>
    <header class="upperBar">
        <a href="/"><img class="logo" src="/img/Logo1FondoNegro.jpg" alt="logo"></a>
        <a href="/login"><p class="loginButton">LOGIN</p></a>
    </header>
    <nav class="bottomBar">
        <ul class="navBar">
            <li><a href="/productDetail">Paquetes</a></li>
            <li><a href="/">About Us</a></li>
            <li></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/productCart">Carrito</a></li>
        </ul>
        <div class="burgerMenu"><i class="fa-solid fa-square-minus"></i></div>
    </nav>
    <main>
        <section class="productDetail">
            <div class="productDetailImage">
                <img src="/img/rockClimbingMountain_1280.jpg" alt="Imagen Random">
            </div>
            <article class="productDetailText">

                <h1>Detalle general del Paquete</h1>

                <div class="textContainer">
                    
                    <div class="item">
                        <h4>Escalada Deportiva</h4>
                    </div>

                    <div class="item">
                        <ul type="none">
                            <li>Duracion: 9 a 18:30 hs</li>
                            <li>Lugar: La Ola</li>
                            <li>Incluye: 
                                <ul type="none">
                                    <li>Almuerzo Liviano</li>
                                    <li>Bebidas</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="item">
                        <h4>Requisitos:</h4>
                    </div>

                    <div class="item">
                        <ul type="none">
                            <li>Mayores de 18 años</li>
                            <li>Menores acompañados por adulto</li>
                        </ul>
                    </div>

                    <div class="item">
                        <p>PRECIO : $5000 + reserva</p>
                    </div>

                    <div class="item">
                        <p>Compra tu voucher y coordinamos el dia de la actividad</p>
                    </div>

                    <div class="reserva">
                        <h4>Reserva</h4>
                    </div>

                    <div class="precio">
                        <p>$2000</p>
                    </div>
                </div>
                <div class="buyButton">
                    <a href="/productCart"><button>Agregar al Carrito</button></a>
                </div>
                

            </article>
        </section>

        <section class="productDescription">
            <article class="description">
                <div class="titleContainer">
                    <h2>Descripcion del paquete</h2>
                </div>
                
                <ul type="disc">
                    <li>¿En qué consiste la actividad?</li>
                        <p>Explicacion de la actividad</p>
                    <li>¿Qué debo llevar?</li>
                        <p>Ropa comoda, abrigo y calzado adecuado para trekking. Proteccion solar.</p>
                    <li>Seguridad</li>
                        <p>Los instructores se encuentran certificados para llevar a cabo las actividades y el equipo provisto se encuentra homologado y en constante chequeo.</p>
                    <li>Clima</li>
                        <p>En caso de clima adverso se reprogramará la actividad</p>
                    <li>Lugar</li>
                        <p>Altas Cumbres, RP 34 Córdoba</p>

                </ul>
            </article>
        </section>

        <!-- <section class="carrousel">
            <div class="carrouselImageContainer">
                <img src="" alt="Aca va un carrousel">
            </div>
        </section>     -->
        <section class="packages">
            <label for="*" class="control"><</label>
            <article class="product p1">
                <img class="picturePackage" src="img/paquete.png" alt="paquete">
                <p>PAQUETE 1</p>
            </article>
            <article class="product p2">
                <img class="picturePackage" src="img/paquete.png" alt="paquete">
                <p>PAQUETE 2</p>
            </article>
            <article class="product p3">
                <img class="picturePackage" src="img/paquete.png" alt="paquete">
                <p>PAQUETE 3</p>
            </article>
            <article class="product p4">
                <img class="picturePackage" src="img/paquete.png" alt="paquete">
                <p>PAQUETE 4</p>
            </article>
            <label for="*" class="control">></label>
        </section>


    </main>

    <footer>
        <address class="contact">
            <ul type="none">
                <li><a href="#"><i class="fa-solid fa-phone-flip"></i><p>351 123456</p></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i><p>351 654321</p></a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i><p>ejemplo@ejemplo.com</p></a></li>
                <li><a href="#"><i class="fa-solid fa-location-dot"></i><p></p> Locacion ejemplo</a></li>
            </ul>
        </address>
        <section class="socialNetwork">
            <ul type="none">
                <li><a href="#"><i class="fa-brands fa-instagram"></i><p>Instagram</p></a> </li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i><p>Facebook</p></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i><p>Linkedin</p></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i><p>Youtube</p></a></li>
            </ul>
        </section>

        <section class="userMessages">
            <form action="/" method="POST">
                <label for="nombre">Formulario de Contacto</label>
                    <input class="messages" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                <!-- <label for="email"></label> -->
                    <input class="messages" type="email" name="email" id="email" placeholder="Email">
                <!-- <label for="message"></label> -->
                    <textarea class="messages" name="message" id="message" placeholder="Escriba su mensaje aqui">

                    </textarea>
            </form>
        </section>
        
    </footer>

</body>

</html>