*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }




/*MAIN BODY*/



.si{
    width: 55px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color: #79ffa0;
    background-color: #9d3be1;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    
}
.si:hover{
    background-color: #79ffa0;
    color: RGB(157,59,225);
    font-weight: bold;
    border: none;
    transition-property: background-color, color;
    transition-duration: 0.5ms;
}

h2{
    display: block;
    font-family: "BPimperial Regular";
    text-align: left;
    color: #79ffa0;
    text-shadow: 8px 8px 8px black;
    width: 50px;
    letter-spacing: 2px;

}

.bot1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
    letter-spacing: 2px;
}
.bot2{
    display: block;
    font-family: "BPimperial Regular";
    text-align: end;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 450px;
    cursor: pointer;
    letter-spacing: 2px;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    
}

h3{
    display: flex;
    font-family: "Lato";
    display: block;
    color: #9d3be1;
    font-weight: bold;
    font-size: 25px;

}
.foto {
    width: 400px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;;
    padding-right: 120px;
    padding-left: 300px;
    padding-top: 30px;
    max-width: 100%;
}



.cart2 {
    background-color: gainsboro;
    border: solid 10px black;
    border-color: #79ffa0;

}

.cart3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
    
}

h1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
    letter-spacing: 2px;
}



.com {
    font-family: "Lato", sans-serif;
    color: #79ffa0;
    background-color: #9d3be1;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;    
}

.com:hover{
    color:  #9d3be1;
    background-color: #79ffa0;
    transition-property: background-color, color;
    transition-duration: 0.5ms;

}




/** MQ **/

@media screen and (min-width: 426px){


    .cart1 h1{
        display: flex;
        justify-content: space-around;
        margin-left: 600px;
        margin-right: 320px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cards {
        flex-direction: column;
    }

    h3{
        padding-top: 20px;
    }

    .foto{
    padding-left: 25px; }

    .si{
        width: 200px;
        height: 60px;
        margin-bottom: 15px;
    }

    .cart3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .com {
        margin: 15px;
        text-align: center;

    }

    .cart3 h1{
        padding-right: 200px;
    }
  

}

@media screen and (min-width: 481px){

    .cart3 h1{
        padding-right: 300px;
    }

    .com{
        text-align: center;
    }



}

@media screen and (min-width: 769px){


    .cart1 {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: gray;
        padding-left: 10px;
        padding-top: 0px;
        box-sizing: border-box;        
    }
    
    .bot1{
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }
    
    .bot2{
     display: flex;
     justify-content: space-between;
     padding: 75px;    
    }

    .cart3 {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    .si{
        width: 50px;
        height: 30px;
    }
    
    .foto{
        display: flex;
        justify-content: flex-start;    }

    h2{
        padding: 20px;
    }

    .com {
        width: 250px;
        height: 40px;
        text-align: center;
    }
   
  
    }