*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }

body{
        font-family: "Lato", sans-serif;
        background-color: black;
    }

.si{
    width: 50px;;
}
.si:hover{
    width: 50px;
    background-color: #79ffa0;
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.5ms;
}
.boton1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: black;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
}
.boton{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: black;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 450px;
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paquete {
    width: 450px;
    height: 300px;
}

.contenedor {
    content: 20px;
    border: solid 5px black;
}

.contenedor2 {
    height: 100px;
    border: solid 5px black;
}

.container {
    background-color: gainsboro;
    border: solid 5px black;
}

h1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: black;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
}

.button1{
    justify-content: end;
    align-self: flex-end;
    font-style: normal;
    text-align: center;
    text-shadow: 20px black;
    width: 15%;
    padding: 3px;
    margin: 2px;
   
}

.button1:hover{
    justify-content: end;
    align-self: flex-end;
    font-style: normal;
    text-align: center;
    text-shadow: 20px black;
    width: 15%;
    padding: 3px;
    margin: 2px;
    background-color: #9d3be1;
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.5ms;
   
}

.button{
    justify-content: end;
    align-self: flex-end;
    font-style: normal;
    text-align: center;
    text-shadow: 20px black;
    width: 15%;
    padding: 3px;
    margin: 2px;}

.button:hover{
    justify-content: end;
    align-self: flex-end;
    font-style: normal;
    text-align: center;
    text-shadow: 20px black;
    width: 15%;
    padding: 3px;
    margin: 2px;
    background-color: #79ffa0;
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.5ms;

}

@media (min-width: 462px){

}

@media (min-width: 770px){

}