*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }




/*MAIN BODY*/

.profile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 40px;
  background-image: url('../img/nat\ y\ deporte.png');
  background-attachment: fixed;
  background-size: 1900px;
}

.formContainerDisplayEdit{
    width: 90%;
    height: 1000px;
    background-color: rgba(24, 220, 164, 0.35);
    border: solid 5px rgba(24, 220, 164, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #79ffa0;

}
#formularioProfile{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameAndPhoto{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.aboutme{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.firstData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

.secondData{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

label{
    font-size: 20px;
}
#personalinfo{
    padding: 20px;
}

.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.number{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    height: 35px;
    color: #9d3be1;
}

.number:hover{
    color:  #9d3be1;
    background-color: #79ffa0;
    transition-property: background-color, color;
    transition-duration: 0.5ms;

}

.photo{
    padding-top: 15px;
    cursor: pointer;
}

#photo{
    width: 35%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 200px;
}
 img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
 }

 .tellus{
    background-color: rgba(0, 0, 0, 0.35);
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 1450px;
    height: 200px;
    color: #79ffa0;
 }

 #tellus{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .conf{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.misp{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

 .misp2{
    display: flex;
    justify-content: center;
    padding: 15px;
 }

 .com {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    color: #79ffa0;
    background-color: #9d3be1;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    width: 200px;
    height: 40px;  
}

.com:hover{
    color:  #9d3be1;
    background-color: #79ffa0;
    transition-property: background-color, color;
    transition-duration: 0.5ms;

}






/* MENSAJE DE ERROR VALIDACIONES */

p.warning.message {
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 1%;
    margin: auto;
    font-weight: bolder;
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
    width: 90%;
    border-radius: 15px;

}

p.warning.message i {
    padding: 0 2% 0 2%;
}


/** MQ **/

@media(min-width: 426px){

/* main{display: flex;}


.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

}






@media screen and (min-width: 769px){

    .formContainerDisplayEdit{

        margin: 90px;
        }

   


}