*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }

/*HEADER*/



body{
    font-family: "Lato", sans-serif;
}

.upperBar{
    font-family: "Lato";
    background-color: #000000;
    color:#79ffa0;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;


}
.logo{
    width: 25vw;
    height: auto; 
    margin-left: auto; 
    position: absolute;
    top: 2px;
    left: 36%; 

}

.logo:hover{
    transition-property: border;
    animation: borderAnimation 600ms ease-in-out 1s;
}

@keyframes borderAnimation {
    20% {border-top: #79ffa0 1px solid;}
    25% {border-top: #79ffa0 2px solid;}
    45% {border-right: #79ffa0 1px solid;}
    50% {border-right: #79ffa0 2px solid;}
    70% {border-bottom: #79ffa0 1px solid;}
    75% {border-bottom: #79ffa0 2px solid;}
    95% {border-left: #79ffa0 1px solid;}
    10% {border-left: #79ffa0 2px solid;}
}


.loginButton{
    font-family: "Lato";
    width: 10%;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 10px;
    padding: 2px 0px;
    color: #9d3be1;
    text-align: right;
    transition-property: all;
    transition-duration: 500ms;
    
}

.loginButton:hover{
    color: #79ffa0;
}

.loginButton:active{
    color: #79ffa0;
}

.bottomBar{
    background-color: #000000;
    color: #79ffa0;
    width: 100%;
    height: 140px;
}
a{
    text-decoration: none;
    color: #79ffa0;
}

.navBar{
    font-family: "BPimperial Regular";
    height: 100%;
    letter-spacing: 2px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

nav li{
    margin: 0px 5px;
    min-width: 115px;
    text-shadow: 2px 2px 2px #9d3be1;
    font-size: 110%;
    display: none;
    transition-property: all;
    transition-duration: 500ms;
}

nav li a:hover{
    color: #9d3be1;
    text-shadow: 2px 2px 2px #79ffa0;
    font-size: 112%;
}

.burgerMenu{
    width: 30px;
    height: 40px;
    color: #79ffa0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0px 40px 0px;
    font-size: 30px;

}

.burgerMenu:active{
    color: #9d3be1;

}







/*MAIN BODY*/

body{
        font-family: "Lato", sans-serif;
        background-color: black;
    }

.si{
    width: 55px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color: #79ffa0;
    background-color: #9d3be1;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    
}
.si:hover{
    background-color: #79ffa0;
    color: RGB(157,59,225);
    font-weight: bold;
    border: none;
    transition-property: background-color, color;
    transition-duration: 0.5ms;
}

h2{
    display: block;
    font-family: "BPimperial Regular";
    text-align: left;
    color: #79ffa0;
    text-shadow: 8px 8px 8px black;
    width: 50px;
    letter-spacing: 2px;

}

.boton1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
    letter-spacing: 2px;
}
.boton{
    display: block;
    font-family: "BPimperial Regular";
    text-align: end;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 450px;
    cursor: pointer;
    letter-spacing: 2px;
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    
}

h3{
    display: flex;
    font-family: "Lato";
    display: block;
    color: #9d3be1;
    font-weight: bold;
    font-size: 25px;

}
.paquete {
    width: 400px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;;
    padding-right: 120px;
    padding-left: 300px;
    padding-top: 30px;
    max-width: 100%;
}

.contenedor2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
    
}

.container {
    background-color: gainsboro;
    border: solid 10px black;
    border-color: #79ffa0;

}

h1{
    display: block;
    font-family: "BPimperial Regular";
    text-align: center;
    background-color: gray;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9d3be1;
    width: 800px;
    letter-spacing: 2px;
}



button{
    font-family: "Lato", sans-serif;
    color: #79ffa0;
    background-color: #9d3be1;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;    
}

button:hover{
    color:  #9d3be1;
    background-color: #79ffa0;
    transition-property: background-color, color;
    transition-duration: 0.5ms;

}







/* FOOTER */
footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: inherit;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 1.1rem;
}

footer ul li{
    margin: 5px;
}


footer ul li a{
    text-decoration: none;
    font-style: normal;
    color: #9D3BE1;
    padding-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: all 600ms; 
}

footer ul li a p{
    padding-left: 0.75rem;
}


footer ul li a:hover{
    text-shadow: 2px 2px 2px #9D3BE1;
    color: #79ffa0;
}


.contact{
    padding: 1rem;
    width: 240px;               
}

.socialNetwork{
    padding: 1rem;
    width: 240px;
}

.userMessages{
    width: 15rem;
    height: 18rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2rem;
}

.userMessages form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.userMessages form label h3{
    color: #9D3BE1;
    padding: 0.3rem;
    transition: all 600ms;
    text-align: center;
    font-size: 1.1rem;

}

.userMessages form label h3:hover{
    color: #79ffa0;
    text-shadow: 1px 1px 1px #9D3BE1;
}

/* ESTILOS DEL FORMULARIO DE CONTACTO */
input.messages, textarea.messages{
    width: 100%;
    padding: 8px 12px;
    margin: 8px ;
    border: 3px solid rgb(157,59,225);
    border-radius: 25px;
    background-color:rgb(235, 235, 235);
    box-sizing: border-box;
    transition-duration: 0.4s;
    
}


input.messages:hover, input.messages:focus, textarea.messages:hover, textarea.messages:focus{
    width: 100%;
    /* padding: 10px 15px; */
    margin: 8px ;
    border-bottom: 3px solid rgb(121,255,160);
    border-top: 3px solid rgb(235, 235, 235);
    border-left: 3px solid rgb(235, 235, 235);
    border-right: 3px solid rgb(235, 235, 235);
    border-radius: 0px;
    outline: none;
    box-sizing: border-box;  
}

.buttonContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

button.formButton{
    background-color: #79ffa0;
    color: #9D3BE1;
    height: 30px;
    padding: 0.5rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.4s;        
    font-size: 1.1rem;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
}

button.formButton:hover{
    background-color: #9D3BE1;
    color: #79ffa0;
}






/** MQ **/

@media screen and (min-width: 426px){

    .logo{width: 15vw;
    left: 42%;}

    footer{
        flex-direction: row;
    }
    

    .contenedor h1{
        display: flex;
        justify-content: space-around;
        margin-left: 600px;
        margin-right: 320px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card{
        flex-direction: column;
    }

    h3{
        padding-top: 20px;
    }

    .paquete{
    padding-left: 25px; }

    .si{
        width: 200px;
        height: 60px;
        margin-bottom: 15px;
    }

    .contenedor2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    button{
        margin: 15px;

    }

    .contenedor2 h1{
        padding-right: 200px;
    }
  
    input.messages{
        display: flex;
        flex-direction: column;
        width: 250px;
          
    } 
    textarea.messages{
    width: 250px;
}
    button.formButton{
    width: 100px;
}
}

@media screen and (min-width: 481px){

    .contenedor2 h1{
        padding-right: 300px;
    }

    input.messages{
        display: flex;
        flex-direction: column;
        width: 250px;
          
    } 
    textarea.messages{
    width: 250px;
}
    button.formButton{
    width: 100px;
}

}

@media screen and (min-width: 769px){

    .logo{
        width: 8vw;
        left: 45%;
    }
    nav li{
        display: flex;
        margin-top: 50px;
        font-size: 1.5vw;
        padding-bottom: 10px;
    }
    .burgerMenu{
        display: none;
    }

    .contenedor {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: gray;
        padding-left: 10px;
        padding-top: 0px;
        box-sizing: border-box;        
    }
    
    .boton1{
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }
    
    .boton{
     display: flex;
     justify-content: space-between;
     padding: 75px;    
    }

    .contenedor2 {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        
    }

    .card{
        display: flex;
        flex-direction: row;
    }

    .si{
        width: 50px;
        height: 30px;
    }
    
    .paquete{
        display: flex;
        justify-content: flex-start;    }

    h2{
        padding: 20px;
    }

    button{
        width: 300px;
        height: 50px;
    }
    footer{
        flex-direction: row;
    }
  
 input.messages{
    display: flex;
    flex-direction: column;
    width: 300px;
          
        } 
    textarea.messages{
        width: 300px;
    }
button.formButton{
    width: 100px;
}
}