*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }




/*MAIN BODY*/

.profile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 40px;
  background-image: url('../img/nat\ y\ deporte.png');
  background-attachment: fixed;
  background-size: 1900px;
}

.formContainerDisplayEdit{
    width: 90%;
    height: 700px;
    background-color: rgba(24, 220, 164, 0.35);
    border: solid 5px rgba(24, 220, 164, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #79ffa0;

}
#formularioProfile{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameAndPhoto{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.aboutme{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.firstData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.secondData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#photo{
    width: 35%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
 img{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
 }


/* MENSAJE DE ERROR VALIDACIONES */

p.warning.message {
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 1%;
    margin: auto;
    font-weight: bolder;
    color: red;
    background-color: rgba(255, 0, 0, 0.3);
    width: 90%;
    border-radius: 15px;

}

p.warning.message i {
    padding: 0 2% 0 2%;
}


/** MQ **/

@media screen and (min-width: 426px){



}






@media screen and (min-width: 769px){

    .formContainerDisplayEdit{

        margin: 90px;
        }

   


}