.packagesSearchBar{
    background-color: rgb(0,0,0);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 1rem;
}

.searchBarTitle{
    font-weight: normal;
    font-family: BPimperial Light;
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9D3BE1;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

.packagesSearchBar div.filter{
    color: #9D3BE1;
    font-size: 0.9rem;
    transition: all 600ms;
    padding: 0.5rem;
}

.packagesSearchBar div.filter:hover{
    color: #79ffa0;
    text-shadow: 2px 2px 2px #9D3BE1;
}

.filterInput{
    padding: 4px 8px;
    margin: 8px ;
    border: 2px solid rgb(157,59,225);
    border-radius: 25px;
    background-color:rgb(235, 235, 235);
    box-sizing: border-box;
    transition-duration: 0.4s;
    font-size: 0.9rem;
}

.filterInput:hover{
    border: 2px solid #79ffa0;
}


/* MEDIA QUERY */

@media screen and (min-width: 426px) {

    .packagesSearchBar{
        flex-flow: row wrap;
        align-items: baseline;
    }

    .packagesSearchBar div.filter{
        font-size: 1rem;
    }

    .filterInput{
        font-size: 1rem;
    }

    .searchBarTitle{
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 769px) {

    .packagesSearchBar{
        flex-flow: row wrap;
        align-items: baseline;
    }

    .packagesSearchBar div.filter{
        font-size: 1.1rem;
    }

    .filterInput{
        font-size: 1.1rem;
    }

    .searchBarTitle{
        font-size: 1.2rem;
    }

}



