@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Italic"), url("/fonts/BPimperialItalic.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light"), url("/fonts/BPimperialLight.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light Italic"), url("fonts/BPimperialLightItalic.woff") format("woff");
    }
  

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Lato", sans-serif;
}

.upperBar{
    font-family: "Lato";
    background-color: #000000;
    color:#79ffa0;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 2px;

}
.burgerMenu{
    width: 15vw;
    height: auto;
    background-color: #79ffa0;
    color: #9d3be1;
    display: none;

}

.logo{
    width: 6vw;
    height: auto;
    margin-left: auto;
    position: absolute;
    top: 1%;
    left: 50%;
    display: inline-block;

}

.loginButton{
    width: 10%;
    font-size: 70%;
    font-weight: bold;
    margin: 2px 0px;
    color: #9d3be1;
    
}

.bottomBar{
    background-color: #000000;
    color: #79ffa0;
}

.navBar{
    font-family: "BPimperial Regular";
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

nav li{
    margin: 0px 5px;
    text-shadow: 2px 2px 2px #9d3be1;
    font-size: 110%;
}