/* FUENTES */

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Italic"), url("/fonts/BPimperialItalic.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light"), url("/fonts/BPimperialLight.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light Italic"), url("fonts/BPimperialLightItalic.woff") format("woff");
    }

/* Global selector */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: #000;

}

body{
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    width: 100%;
}

header{
    background-color: #000;
    color: white;
    width: inherit;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
}
/* Clases */
    /* main */
    .productDetail{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        justify-self: center;
        /* position: relative; */
    }

    .productDetailImage{
        position: relative;
        margin: auto;
    }

    .productDetailText{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border: solid 1px black;
        /* border-radius: 15px; */
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        
        margin: 0.5rem;
    }


    .productDetailText h1{
        padding: 0.3rem;
        font-weight: normal;
        color: #79ffa0;
        text-shadow: 2px 2px 2px #9D3BE1;
        font-family: BPimperial Regular;
        width: 100%;
        text-align: center;
        background-color: #000;
        width: 100%;
        margin: 0px;
    }

    .textContainer{
        padding: 0.5rem;
    }

    .textContainer h4{
        /* font-weight: normal; */
        font-family: BPImperial light;
        font-size: 25px;
        color: #79ffa0;
        text-shadow: 2px 2px 2px #9D3BE1;
        background-color: #000;
        width: fit-content;
        padding: 0.2rem;
    }

    .item{
        padding: 0.3rem 0px 0.3rem 0px;
    }

    .textContainer ul li ul li{
        padding-left: 0.5rem;
    }

    .productDetailText p{
        width: 100%;
    }

    .reserva{
        display: inline-block;
    }

    .precio{
        display: inline-block;
    }

    .buyButton{
        justify-content: flex-end;
        align-self: flex-end;
        padding: 5px;
        margin: 2px;
        width: 50%;
    }

    
    .productDescription{
        background-color: #ebebeb;
        width: 100%;
    }

    .description{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: white;
        width: 80%;
        padding: 1rem;
        /* padding: 1rem 0 1rem 0; */
    }

    .titleContainer{
        background-color: #000;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description h2{
        padding: 0.3rem;
        font-weight: normal;
        color: #79ffa0;
        text-shadow: 2px 2px 2px #9D3BE1;
        font-family: BPimperial Regular;
    }

    .description li, .description p{
        padding: 0.2rem;
    }

    .description ul{
        padding: 0 0 0 40px;
    }

    /* footer */
    footer{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: inherit;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        /* font-family: BPimperialRegular; */
        font-size: 1.1rem;
    }

    footer ul li{
        margin: 5px;
        /* color: white; */
        /* color: #79ffa0; */
        /* text-shadow: 2px 2px 2px #9D3BE1; */
    }

    
    footer ul li a{
        text-decoration: none;
        font-style: normal;
        color: white;
        /* color: #79ffa0; */
        padding-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        transition: all 600ms; 
    }

    footer ul li a p{
        padding-left: 0.75rem;
    }

    
    footer ul li a:hover{
        text-shadow: 2px 2px 2px #9D3BE1;
        color: #79ffa0;
    }
    

    .contact{
        padding: 1rem;
        width: 240px
        
    }

    .socialNetwork{
        padding: 1rem;
        width: 240px
    }

    .consultarEsto{
        color: white;
        width: 240px
    }

    /* MEDIA QUERY */

    @media screen and (min-width: 426px) {

        footer{
            flex-direction: row;
            /* justify-content: center;
            align-items: center; */
        }
        
    }

    @media screen and (min-width: 769px){

        footer{
            /* position: fixed;
            bottom: 0px; */
            flex-direction: row;
        }



    }

