/* FUENTES */

@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Italic"), url("/fonts/BPimperialItalic.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light"), url("/fonts/BPimperialLight.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light Italic"), url("fonts/BPimperialLightItalic.woff") format("woff");
    }

/* Global selector */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: #000;

}

body{
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}

header{
    background-color: #000;
    color: white;
    position: fixed;
    top: 0px;
    width: inherit;
}

main{
    display: flex;
    flex-wrap: wrap;
}
/* Clases */
    /* main */
    .productDetail{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        justify-self: center;
        /* position: relative; */
    }

    .productDetailImage{
        position: relative;
        margin: auto;
    }

    .productDetailText{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border: solid 1px black;
        border-radius: 15px;
    }

    .productDetailText h2{
        width: 100%;
    }

    .productDetailText p{
        width: 100%;
    }

    .buyButton{
        justify-content: end;
        align-self: flex-end;
        padding: 5px;
        margin: 2px;
        width: 50%;
    }

    .productDescription{
        width: 100%;
        background-color: brown;
    }

    /* footer */
    footer{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: inherit;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        /* font-family: BPimperialRegular; */
        font-size: 1.1rem;
    }

    footer ul li{
        margin: 5px;
        /* color: white; */
        /* color: #79ffa0; */
        /* text-shadow: 2px 2px 2px #9D3BE1; */
    }

    
    footer ul li a{
        text-decoration: none;
        font-style: normal;
        color: white;
        /* color: #79ffa0; */
        padding-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        transition: all 600ms; 
    }

    footer ul li a p{
        padding-left: 0.75rem;
    }

    
    footer ul li a:hover{
        text-shadow: 2px 2px 2px #9D3BE1;
        color: #79ffa0;
    }
    

    .contact{
        padding: 1rem;
        width: 240px
        
    }

    .socialNetwork{
        padding: 1rem;
        width: 240px
    }

    .consultarEsto{
        color: white;
        width: 240px
    }

    /* MEDIA QUERY */

    @media screen and (min-width: 426px) {

        footer{
            flex-direction: row;
            /* justify-content: center;
            align-items: center; */
        }
        
    }

    @media screen and (min-width: 769px){

        footer{
            position: fixed;
            bottom: 0px;
            flex-direction: row;
        }



    }

