@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Italic"), url("/fonts/BPimperialItalic.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light"), url("/fonts/BPimperialLight.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light Italic"), url("fonts/BPimperialLightItalic.woff") format("woff");
    }
  

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body{
    font-family: "Lato", sans-serif;
    background-color: #ebebeb;
}

/* MAIN */

h1{
    margin-top: 0px;
    font-family: "BPimperial Regular";
    letter-spacing: 2px;
    color: #9d3be1;
    text-shadow: 2px 2px 2px #79ffa0;
    font-size: 40px;
    text-align: center;
}

.mainAbout{
margin: 0px;
padding: 20px;
text-align: center;
    
}

.aboutUsPrincipal{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    text-align: center;

}

.aboutUsEach{
    margin: 10px;
    padding: 10px;
    width: 80%;
    text-align: justify;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: rgba(0,0,0,0.7);
}

hr.separador{
    color: #9d3be1;
}

.memberImage{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.memberImage:hover{
    border-radius: 0%;
}

.containerAbout{
    margin: 10px;

}

.name{
    font-weight: bold;
    color: #79ffa0;
    text-shadow: 2px 2px #9d3be1;
    margin-bottom: 5px;

}

.personalDescription{
    color: #79ffa0;
    /* color: #9d3be1; */
    margin-bottom: 5px;
}

.personalContact{
    margin-top: 10px;
    color: #79ffa0;
    text-shadow: 2px 2px #9d3be1;
}

.personalContact li{
    list-style: none;
    text-decoration: none;
    color: #9d3be1;
    margin: 10px;
}



@media (min-width: 769px){
    .aboutUsEach{
        width: 42%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .personalContact ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}