@font-face {
    font-family: "BPimperial Regular";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Regular"), url("/fonts/BPimperial.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Italic"), url("/fonts/BPimperialItalic.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light"), url("/fonts/BPimperialLight.woff") format("woff");
    }
    

    @font-face {
    font-family: "BPimperial Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("BPimperial Light Italic"), url("fonts/BPimperialLightItalic.woff") format("woff");
    }
  

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Lato", sans-serif;
}

.upperBar{
    font-family: "Lato";
    background-color: #000000;
    color:#79ffa0;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 2px;

}

.logo{
    width: 20vw;
    height: auto;
    margin-left: auto;
    position: absolute;
    top: 0.2%;
    left: 50%;
    display: inline-block;

}

.loginButton{
    width: 10%;
    font-size: 50%;
    font-weight: bold;
    margin: 2px 5px;
    color: #9d3be1;
    text-align: right;
    
}

.bottomBar{
    background-color: #000000;
    color: #79ffa0;
}

.navBar{
    font-family: "BPimperial Regular";
    list-style: none;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    padding: 1%;
}

nav li{
    margin: 0px 5px;
    text-shadow: 2px 2px 2px #9d3be1;
    font-size: 110%;
    display: none;
}
.burgerMenu{
    width: 15px;
    height: 20px;
    color: #79ffa0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    display: block;
    text-align: center;

}





@media (min-width: 424px){
    nav li{
        display: flex;
    }
    .burgerMenu{
        display: none;
    }

}

@media (min-width: 767px){
    nav li{
        display: flex;
    }
    .burgerMenu{
        display: none;
    }
}