<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <link rel="stylesheet" href="/css/stylesheetclientProfile.css">
    <title>2BX - Mi Perfil</title>
</head>
<body>
    <%- include("../partialsGeneral/header")  %> 
    <main>
        <section class="profile">

            <div class="name">
                <h1>Mi nombre</h1>
                <label>Mi foto</label>
                <input type="file" accept="image/jpeg, image/jpg">
            </div>
            

            <h2>Sobre mi</h2>
            <div class="aboutme">

                <label id="personalinfo">Edad:</label>
                <input class="number" type="number">

                <label id="personalinfo">Peso:</label>
                <input class="number" type="number">

                <label id="personalinfo">Altura:</label>
                <input class="number" type="number">

                <label id="personalinfo">Apto Medico:</label>
               <label for="checkbox"><input id="checkok" type="checkbox">SI</label>
               <label for="checkbox"><input id="checkok" type="checkbox">NO</label>

            </div>

                <label id="personalinfo">Mas sobre mi:</label>
                <input class="tellus" type="text" value="Contanos mas">

            <div class="misp2">

                <a type="button" class="com animated infinite pulse">Editar informacion</a>
                <a type="button" class="com animated infinite pulse">Guardar</a>
            </div>


            <h2>Mis paquetes</h2>

            <div class="misp">
                <h1><</h1>
                
                <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">
                
                <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">

                <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">
                <h1>></h1>
            </div>

            <div class="misp2">
                <a href="/packages" type="button" class="com animated infinite pulse">Buscar paquetes</a>
                <a href="/productCart" type="button" class="com animated infinite pulse">Agregar/Eliminar</a>
            </div>

            <h2>Ultimas visitas y compras</h2>

        <div class="last">
               <h1><</h1>
               <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">
                
               <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">

               <img class="foto" src="/img/rafting_640.jpg" alt="Rafting">
               <h1>></h1>
            </div>

            <div class="conf">
                <h2>Configuracion y Seguridad de mi cuenta</h2>

                <a type="button" class="com animated infinite pulse">Editar</a>
            </div>

        </section>

    </main>
    <%- include("../partialsGeneral/footer") %> 
</body>
</html>