<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")  %> 

<body>
    <!-- HEADER -->
    <!-- MAIN -->
    <main>
        <section class="aboutUsTitulo">
            <h1>About Us</h1>
        </section>
        <section class="aboutUsPrincipal">
            <article class="aboutUsEach">
                <img src="" alt="introductionImage">
                <p class="name">Tarjeta para la descripcion personal</p>
                <p class="personalDescription"></p>
                <address class="personalContact">
                    <ul>
                        <li><a href="">Mail</a></li>
                        <li><a href="">Linkedin</a></li>
                        <li><a href="">Otra cosa</a></li>
                    </ul>
                </address>
            </article>
        </section>
    </main>
    
    <!-- FOOTER -->
    <%- include("./partials/footer") %> 
</body>
</html>