<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <link rel="stylesheet" href="/css/stylesProductDetail.css">
    <script src="https://kit.fontawesome.com/a00647b9df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <title>2BX</title>
</head>
<body>
    <%- include("../partialsGeneral/header") %> 
    <main>
        <div class="slide">
            <div class="slideContent">
                <input type="radio" class="slideShow" id="slide1" name="slide" checked="checked">
                <div class="slideItem">
                    <img src="img/skydive_1280.jpg" alt="skydive">
                </div>
                <input type="radio" class="slideShow" id="slide2" name="slide">
                <div class="slideItem">
                    <img src="img/parapente_1280.jpg" alt="paragliding">
                </div>
                <input type="radio" class="slideShow" id="slide3" name="slide">
                <div class="slideItem">
                    <img src="img/kaitsurf_1280.jpg" alt="kaitsurf">
                </div>
                <input type="radio" class="slideShow" id="slide4" name="slide">
                <div class="slideItem">
                    <img src="img/rock-climbing_1280.jpg" alt="climbing">
                </div>
                <input type="radio" class="slideShow" id="slide5" name="slide">
                <div class="slideItem">
                    <img src="img/rafting_1280.jpg" alt="rafting">
                </div>
                <label for="slide5" class="slideControl prev control1"><</label>
                <label for="slide2" class="slideControl next control1">></label>
                <label for="slide1" class="slideControl prev control2"><</label>
                <label for="slide3" class="slideControl next control2">></label>
                <label for="slide2" class="slideControl prev control3"><</label>
                <label for="slide4" class="slideControl next control3">></label>
                <label for="slide3" class="slideControl prev control4"><</label>
                <label for="slide5" class="slideControl next control4">></label>
                <label for="slide4" class="slideControl prev control5"><</label>
                <label for="slide1" class="slideControl next control5">></label>
                <ol class="slideIndicator">
                    <li>
                        <label for="slide1" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide2" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide3" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide4" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide5" class="slideCircle">•</label>
                    </li>
                </ol>
            </div>
        </div>
        <div class="containerBottom">
        <section class="packages">
            <label for="*" class="control"><</label>
            <article class="product p1">
                <div class="picturePackage"><img class="pictureIn" src="img/paquete1.jpg" alt="paquete"></div>
                <p>PAQUETE 1</p>
            </article>
            <article class="product p2">
                <div class="picturePackage"><img class="pictureIn" src="img/paquete2.jpg" alt="paquete"></div>
                <p>PAQUETE 2</p>
            </article>
            <article class="product p3">
                <div class="picturePackage"><img class="pictureIn" src="img/paquete3.jpg" alt="paquete"></div>
                <p>PAQUETE 3</p>
            </article>
            <article class="product p4">
                <div class="picturePackage"><img class="pictureIn" src="img/paquete4.jpeg" alt="paquete"></div>
                <p>PAQUETE 4</p>
            </article>
            <label for="*" class="control">></label>
        </section>
        <section class="clientMessages">
            <article class="card">
                <label for="*" class="controlMessages">></label>
                <img class="userImage" src="img/FOTORANDOM2.jpg" alt="imagen de usuario">
                <div class="message">
                    <strong>Pepito Cawabonga</strong>
                    <p>"Una experiencia increibleee! Pase mi finde a pura adrenalina. Muy divertido!!!"</p>
                </div>
            </article>
        </section>
        </div>
    </main>
    <%- include("../partialsGeneral/footer")  %> 
    
</body>
</html>