<footer>
    <address class="contact">
        <ul type="none">
            <li><a href="#"><i class="fa-solid fa-phone-flip"></i><p>351 123456</p></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i><p>351 654321</p></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i><p>ejemplo@ejemplo.com</p></a></li>
            <li><a href="#"><i class="fa-solid fa-location-dot"></i><p></p> Locacion ejemplo</a></li>
        </ul>
    </address>
    <section class="socialNetwork">
        <ul type="none">
            <li><a href="#"><i class="fa-brands fa-instagram"></i><p>Instagram</p></a> </li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i><p>Facebook</p></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i><p>Linkedin</p></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i><p>Youtube</p></a></li>
        </ul>
    </section>
    <section class="userMessages">
        <form action="/" method="POST">
            <label for="nombre"><h3>Formulario de Contacto</h3></label>
                <div class="messageA">
                    <input class="messages" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                    <input class="messages" type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="messageB">
                    <textarea class="messages" name="message" id="message" placeholder="Escriba su mensaje aqui"></textarea>
                    <div class="buttonContainer">
                        <button class="formButton" type="submit">Enviar</button>
                        <button class="formButton" type="reset">Vaciar</button>
                    </div>
                </div>
        </form>
    </section>
</footer>