<section class="packagesSearchBar">

    <div class="adrenalineLevel">
        <label for="adrenalineLevel"></label>
        <select name="adrenalineLevel" id="adrenalineLevel">
            <option value=""></option>
        </select>
    </div>

    <div class="sport">
        <label for="sport"></label>
        <select name="sport" id="sport">
            <option value=""></option>
        </select>
    </div>

    <div class="lugar">
        <label for="lugar"></label>
        <select name="lugar" id="lugar">
            <option value=""></option>
        </select>
    </div>

    <div class="sale">
        <label for="sale"></label>
        <input type="text" id="sale">
    </div>
    
    <div class="price">
        <label for="price"></label>
        <input type="text" id="price">
    </div>

</section>