<div class="containerBottom">
    <section class="packages s3">
        <label for="*" class="control"><</label>
        <article class="product p1">
            <div class="picturePackage"><img class="pictureIn" src="img/paquete1.jpg" alt="paquete"></div>
            <p>PAQUETE 1</p>
        </article>
        <article class="product p2">
            <div class="picturePackage"><img class="pictureIn" src="img/paquete2.jpg" alt="paquete"></div>
            <p>PAQUETE 2</p>
        </article>
        <article class="product p3">
            <div class="picturePackage"><img class="pictureIn" src="img/paquete3.jpg" alt="paquete"></div>
            <p>PAQUETE 3</p>
        </article>
        <article class="product p4">
            <div class="picturePackage"><img class="pictureIn" src="img/paquete4.jpeg" alt="paquete"></div>
            <p>PAQUETE 4</p>
        </article>
        <label for="*" class="control">></label>
    </section>
    <section class="clientMessages">
        <article class="card">
            <label for="*" class="controlMessages">></label>
            <img class="userImage" src="img/FOTORANDOM2.jpg" alt="imagen de usuario">
            <div class="message">
                <strong>Pepito Cawabonga</strong>
                <p>"Una experiencia increibleee! Pase mi finde a pura adrenalina. Muy divertido!!!"</p>
            </div>
        </article>
    </section>
    </div>