<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>2BX / Login</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    <main>
    
        <section class="loginForm">
           <h2>Login / <a href="/register"> Registro </a></h2>
           
           <form action="/login" method="POST" id="loginForm" enctype="multipart/form-data">
            
           <div class="form">
              
               <label for="email">Email</label>
               <input type="email" name="email" id="email" required> 
              
           
               <label for="password">Contraseña</label>
               <input type="password" name="password" id="password" required> 
   
               
           </div>  
           
           <label for="checkbox"> <input type="checkbox" id="checkbox" value="accept"> Recordar mi Email</label>
           <label for="checkbox"> <input type="checkbox" id="checkbox" value="accept"> Recordar mi contraseña </label>
              
           </form>
   
           <a href="/"></a><button type="submit" form="loginForm" value="Submit">Login</button></a>

           <p class="textPW"><a href="/*****"> Olvide mi contraseña.</a></p>
       </section>
   
       <section class="image">
           <div class="image">
          <!-- <img src="/img/kaitsurf_640.jpg">-->
           </div>  
       </section>      
       </main>
   
  <!-- FOOTER -->
  <%- include("../partialsGeneral/footer")  %>

   </body>
   
   </html>