<footer>
    <address class="contact">
        <ul type="none">
            <li><a href="tel: 3513285371"><i class="fa-solid fa-phone-flip"></i><p>351 3285371</p></a></li>
            <li><a href="https://wa.me/54 9 351 3285371"><i class="fa-brands fa-whatsapp"></i><p>351 3285371</p></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i><p>ejemplo@ejemplo.com</p></a></li>
            <li><a href="https://www.google.com.ar/maps/place/Argentina/@-37.0248695,-81.5967024,4z/data=!3m1!4b1!4m5!3m4!1s0x95bccaf5f5fdc667:0x3d2f77992af00fa8!8m2!3d-38.416097!4d-63.616672"><i class="fa-solid fa-location-dot"></i><p></p> Locacion ejemplo</a></li>
        </ul>
    </address>
    <section class="socialNetwork">
        <ul type="none">
            <li><a href="https://www.instagram.com/?hl=es-la"><i class="fa-brands fa-instagram"></i><p>Instagram</p></a> </li>
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i><p>Facebook</p></a></li>
            <li><a href="https://ar.linkedin.com/"><i class="fa-brands fa-linkedin"></i><p>Linkedin</p></a></li>
            <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i><p>Youtube</p></a></li>
        </ul>
    </section>
    <section class="userMessages">
        <form action="/" method="POST">
            <label for="nombre"><h3>Formulario de Contacto</h3></label>
                <div class="messageA">
                    <input class="messages footer" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                    <input class="messages footer" type="email" name="email" id="emailFooter" placeholder="Email">
                </div>
                <div class="messageB">
                    <textarea class="messages footer" name="message" id="message" placeholder="Escriba su mensaje aqui"></textarea>
                    <div class="buttonContainer">
                        <button class="formButton footer" type="submit">Enviar</button>
                        <button class="formButton footer" type="reset">Vaciar</button>
                    </div>
                </div>
        </form>
    </section>
</footer>