<header class="upperBar">    
    <a href="/login"><p class="loginButton">LOGIN</p></a>
    <a href="/login"><p class="loginButton">SALIR</p></a>
    <a href="/"><img class="logo" src="/img/Logo1FondoNegro.jpg" alt="logo"></a>
<<<<<<< HEAD

    </header>
=======
    <% if (locals.userLoggedOk) { %>

        <a href="/userClient/<%= locals.userLoggedOk.id %> "><p class="loginButton">Hola - <%= locals.userLoggedOk.name  %> </p></a>
        <form action="/userClient/logout" method="post"><button class="loginButton">LogOut</button></form>
    
    <% } else { %>
         <a href="/login"><p class="loginButton">Login</p></a>
    <% } %>
</header>
>>>>>>> 497d7b53381fcb74b4f045943ad0a8202c39b9c6
<nav class="bottomBar">
    <ul class="navBar">
        <li><a href="/packages">Paquetes</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li></li>
        <li><a href="/register">Registro</a></li>
        <li><a href="/productCart">Carrito</a></li>
    </ul>
    <div class="burgerMenu"><i class="fa-solid fa-square-minus"></i></div>
</nav>

  