<header class="upperBar">
    <a href="/"><img class="logo" src="/img/Logo1FondoNegro.jpg" alt="logo"></a>
    <a href="/login"><p class="loginButton">BIENVENIDO </p></a>
</header>
<nav class="bottomBar">
    <ul class="navBar">
        <li><a href="/packages">Paquetes</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li></li>
        <li><a href="/register">Registro</a></li>
        <li><a href="/productCart">Carrito</a></li>
    </ul>
    <div class="burgerMenu"><i class="fa-solid fa-square-minus"></i></div>
</nav>