<section class="packagesSearchBar">
    <div class="searchBarTitle">
        <h3>Filtros de busqueda</h3>
    </div>

    <div class="adrenalineLevel filter">
        <label for="adrenalineLevel">Nivel de Adrenalina</label>
        <select class="filterInput" name="adrenalineLevel" id="adrenalineLevel">
            <option value="high">Alto</option>
            <option value="medium">Medio</option>
            <option value="low">Bajo</option>
        </select>
    </div>

    <div class="sport filter">
        <label for="sport">Deporte</label>
        <select class="filterInput" name="sport" id="sport">
            <option value="parachute">Paracaidismo</option>
            <option value="rafting">Rafting</option>
            <option value="kitesurf">Kitesurf</option>
            <option value="sportsClimb">Escalada Deportiva</option>
        </select>
    </div>

    <div class="lugar filter">
        <label for="lugar">Zona</label>
        <select class="filterInput" name="lugar" id="lugar">
            <option value="norte">Norte</option>
            <option value="centro">Centro</option>
            <option value="sur">Sur</option>
        </select>
    </div>

    <div class="price filter">
        <label for="price">Precio Máximo</label>
        <input class="filterInput" type="text" id="price" placeholder="Ingrese valor max">
    </div>

    <div class="sale filter">
        <label for="sale">Oferta</label>
        <input type="checkbox" id="sale">
    </div>
    

</section>