<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
  <%- include("../partialsGeneral/head") %>
  <link rel="stylesheet" href="/css/stylesAdminForm.css">
  <title>2BX / Crear Paquete Nuevo</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    
<main>
   
     <section class="newProduct">
        <h2>Nuevo Paquete</h2>
        
        <form action="/userAdmin/adminForm" method="POST" id="newProduct" enctype="multipart/form-data">
          <h3>Detalle general del Paquete</h3>

          <div class="form">
                  <div class="activity">
                  <label for="activityName">Nombre de la actividad</label>
                  <input type="text" placeholder="Trekking Volcan Lanin" name="activityName"  id="activityName" maxlength="30"required> 
              
                  <label for="sport">Deporte</label>               
                  <select id="sport">
                    <option value="" disabled selected>Seleccionar deporte</option>
                    <option>Paracaidismo</option>
                    <option>Rafting</option>
                    <option>Kitesurf</option>
                    <option>Escalada Deportiva</option>
                  </select>
                  </div>

                  <div class="activityDuration">
                  <label for="startTime"><input type="time" id="startTime" name="startTime" min="00:00" max="23:59" required>Horario inicio</label>
                  
                  <label for="endTime"><input type="time" id="endTime" name="endTime" min="00:00" max="23:59" required>Horario finalización</label>
                  </div>

                  <label for="Location">Lugar</label>
                  <input type="text" placeholder="Neuquén" name="Location"  id="Location" maxlength="30" required> 

                  <label for="geoRegion">Zona Geografica</label>
                  <select id="geoRegion">
                    <option>Norte</option>
                    <option>centro</option>
                    <option>Sur</option>
                  </select>            

                
                  <p>Elementos incluidos</p>
                  <div class="radio">
                  <label for="lunch"></label><input type="checkbox" name="lunch" id="lunch" value="lunch">Almuerzo</label>
                  <label for="snack"></label><input type="checkbox" name="snack" id="snack" value="snack">Snacks</label>
                  <label for="beverage"></label><input type="checkbox" name="beverage" id="beverage" value="beverage">Bebidas</label>
                  <label for="transport"></label><input type="checkbox" name="transport" id="transport" value="transport">Transporte desde el hotel</label>
                  <label for="equipment"></label><input type="checkbox" name="equipment" id="equipment" value="equipment">Equipamiento necesario</label>
                  <label for="healthInsurance"></label><input type="checkbox" name="healthInsurance" id="healthInsurance" value="healthInsurance">Seguro Medico</label>
                  </div>
                  
                  <p>Requisitos</p>
                  <div class="radio">
                  <label for="age"></label><input type="checkbox" name="age" id="age" value="age">Mayores de 18 años</label><br>
                  <label for="minors"></label><input type="checkbox" name="minors" id="minors" value="minors">Menores acompañados por adulto</label>
                  <label for="doctorApproval"></label><input type="checkbox" name="doctorApproval" id="doctorApproval" value="doctorApproval">Apto medico</label>
                  <label for="experience"></label><input type="checkbox" name="experience" id="experience" value="experience">Experiencia previa</label>
                  </div>      

                  <label for="price">Precio</label>
                  <input type="number" placeholder="9,999" name="price"  id="price" required> 

                  <label for="reservationPrice">Precio reserva</label>
                  <input type="number" placeholder="9,999" name="reservationPrice"  id="reservationPrice" required> 

                  <p>Esta en oferta?</p>
                  <div class="radio" id="sale">
                  <label for="saleRadio"></label><input type="radio" name="saleRadio" id="saleRadio" value="yes">Si</label>
                  <label for="saleRadio"></label><input type="radio" name="saleRadio" id="saleRadio" value="no">No</label>
                  </div>

                  <label for="sale">% de descuento</label>
                  <select id="sale">
                    <option value="" disabled selected>Seleccionar descuento</option>
                    <option>10%</option>
                    <option>25%</option>
                    <option>33%</option>
                    <option>50%</option>
                  </select>

                  <label for="adrenalineLevel">Nivel de adrenalina</label>
                  <select id="adrenalineLevel">
                    <option value="" disabled selected>Seleccionar nivel</option>
                    <option>Alto</option>
                    <option>Medio</option>
                    <option>Bajo</option>                 
                  </select>


              <h3>Descripción del paquete</h3>        

              <label for="description">Descripción de la actividad</label>
              <input type="text" placeholder="Descripción de la actividad" name="description"  id="description" maxlength="400" required> 
            
              <label for="image">Agregar imagenes</label>
              <input type="file" name="image" id="image" accept="image/png, image/jpeg" multiple required>    

          </div>

          <div class="buttons">
            <button type="reset" value="reset" class="reset">Borrar todo</button>
            <button type="submit" form="newProduct" value="Submit">Crear paquete</button>
          </div> 

        </form>

        
              
    </section>
     
    <section class="image">
          <div class="image"></div>
    </section>
    
    </main>

    <footer>
       <!-- FOOTER -->
    <%- include("../partialsGeneral/footer")  %>

</body>
</html>