<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <link rel="stylesheet" href="/css/stylesheetclientProfile.css">
    <title>2BX - Mi Perfil</title>
</head>
<body>
    <%- include("../partialsGeneral/header")  %> 
    <main>
        <section class="profile">

            <div class="name">
                <h4>Mi nombre</h4>
                <label>Mi foto</label>
                <input class="photo" type="file" accept="image/jpeg, image/jpg">
            </div>
            

            <h4>Sobre mi</h4>
            <div class="aboutme">

                <label id="personalinfo">Email:</label>
                <input class="number" type="email">

                <label id="personalinfo">Password:</label>
                <input class="number" type="password">

                <label id="personalinfo">Edad:</label>
                <input class="number" type="number">

                <label id="personalinfo">Peso:</label>
                <input class="number" type="number">

                <label id="personalinfo">Altura:</label>
                <input class="number" type="number">

                <label id="personalinfo">Apto Medico:</label>
               <label for="checkbox"><input id="checkok" type="checkbox">SI</label>
               <label for="checkbox"><input id="checkok" type="checkbox">NO</label>

            </div>

            <div id="tellus">

                <label id="personalinfo">Mas sobre mi:</label>
                <input class="tellus" type="text" value="Contanos mas">
            </div>

            <div class="misp2">

                <a type="button" class="com animated infinite pulse">Editar informacion</a>
                <a type="button" class="com animated infinite pulse">Guardar</a>
            </div>


            <h4>Mis paquetes</h4>

            <div class="misp">
                
                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
                
                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">

                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
               
            </div>

            <div class="misp2">
                <a href="/packages" type="button" class="com animated infinite pulse">Buscar paquetes</a>
                <a href="/productCart" type="button" class="com animated infinite pulse">Agregar/Eliminar</a>
            </div>

            <h4>Ultimas visitas y compras</h4>

        <div class="last">
               
               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
                
               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">

               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
               
            </div>

            <div class="conf">
                <h4>Cuenta: Configuracion y Seguridad</h4>

                <a type="button" class="com animated infinite pulse">Editar</a>
            </div>

        </section>

    </main>
    <%- include("../partialsGeneral/footer") %> 
</body>
</html>